@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
    background: #f8f8f8;
    font: 16px 'Merriweather', serif;
}

ul.menu {
    font-size: 24px;
    color: darkcyan;
    marker: none;
}

ul.menu > li {
    list-style-type: none;
}

ul.menu a {
    text-decoration: none;
}

ul.menu a:hover {
    color: darkgoldenrod;
}

h2 {
    font-weight: 400;
    font-size: 18px;
    color: black;
    background: #eaeaea;
}

.description_short {
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    color: #707070;
}

.description_full {
    font-size: 16px;
    font-weight: 400;
    color: #484343;
    line-height: 24px;
    text-align: left;
}

ul.specification {
    font-size: 16px;
    line-height: 26px;
    color: #506050;
    list-style-image: url("../images/li1.png");
}

table.specification {
    border-collapse: collapse;
}

table.specification td {
    border: 1px solid grey;
}

form.contacts fieldset {
    width: 514px;
}

form.contacts input {
    width: 500px;
    line-height: 26px;
    margin: 4px;
    color: #000050;
    text-transform: capitalize;
}

form.contacts input[name="email"]:focus {
    background: grey;
    color: white;
}

form.contacts textarea{
    width: 498px;
    line-height: 26px;
    height: 200px;
    margin: 4px;
    color: #000050;
    text-transform: capitalize;
}

form.contacts button {
    margin: 0 200px;
}

img.preview {
    width: 360px;
    border: darkgrey solid 2px;
}

/* Делаем рамку прозрачной при наведении */
img.preview:hover {
    border-color: rgba(0,0,0,0);
}

.header {

}

.footer {
    height: 50px;
    text-align: center;
}

.description_short:first-letter, .description_full:first-letter {
    font: bold 52px Cambria, sans-serif;
    color: chocolate;
}