@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
    background: #f8f8f8;
    font: 16px 'Merriweather', serif;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.logo {
    padding-left: 30px;
    float: left;
}

ul.menu {
    font-size: 24px;
    color: darkcyan;
    marker: none;
    margin-right: 10px;
    text-align: right;
}

ul.menu > li {
    list-style-type: none;
    display: inline;
    padding: 15px;
}

ul.menu a {
    text-decoration: none;
}

ul.menu a:hover {
    color: darkgoldenrod;
}

h2 {
    font-weight: 400;
    font-size: 18px;
    color: black;
    background: #eaeaea;
}

.description_short {
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    color: #707070;
}

.description_full {
    font-size: 16px;
    font-weight: 400;
    color: #484343;
    line-height: 24px;
    text-align: left;
}

ul.specification {
    font-size: 16px;
    line-height: 26px;
    color: #506050;
    list-style-image: url("../images/li1.png");
}

table.specification {
    border-collapse: collapse;
}

table.specification td {
    border: 1px solid grey;
}

form.contacts fieldset {
    width: 514px;
}

form.contacts input {
    width: 500px;
    line-height: 26px;
    margin: 4px;
    color: #000050;
    text-transform: capitalize;
}

form.contacts input[name="email"]:focus {
    background: grey;
    color: white;
}

form.contacts textarea{
    width: 498px;
    line-height: 26px;
    height: 200px;
    margin: 4px;
    color: #000050;
    text-transform: capitalize;
}

form.contacts button {
    margin: 0 200px;
}

img.preview {
    width: 420px;
    border: darkgrey solid 2px;
}

img.productimg {
    float: left;
}

/* Делаем рамку прозрачной при наведении */
img.preview:hover {
    border-color: rgba(0,0,0,0);
}

.header {
    height: 120px;
    background-image: url("../images/baners.jpg");
}

.footer {
    height: 50px;
    text-align: right;
    padding: 13px 15px 0 0;
    box-sizing: border-box;
    background: #DDD;
}

.desc_short_block {
    overflow: hidden;
    padding-left: 15px;
}

.desc_short_block h2 {
    margin-top: 0;
}

.description_short:first-letter, .description_full:first-letter {
    font: bold 52px Cambria, sans-serif;
    color: chocolate;
}

.button_buy {
    text-align: right;
}

.button_buy button {
    width: 100px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
}


.button_buy button:hover {
    background: #F9866D;
    color: #f8f8f8;
}

.button_buy button:active {
    background: #FF5E0E;
    color: #f8f8f8;
}

.price_h2 {
    clear: both;
    margin-top: 45px;
}

.img_grid {
    width: 250px;
}

.grid > div {
    width: 250px;
    height: 300px;
    border: #DDDDDD 1px solid;
    display: inline-block;
    margin: 30px 60px;
}

.grid > div:nth-of-type(3n){
    margin-right: 0;
}

.grid > div:nth-of-type(3n-2){
    margin-left: 0;
}

.grid > div:nth-of-type(-n+3){
    margin-top: 0;
}


